* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: auto;
}

body::-webkit-scrollbar {
  width: .6em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(195, 205, 206, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #5F81FA;
  border-radius: 40px;
  width: 5px;
}

/** CSS for Nav bar from HERE TO */
.navigation-bar {
  width: 100%;
  height: 50px;
  padding-top: auto;
  background-color: #FF1BA4;
}

.logo {
  display: inline-block;
  vertical-align: top;
  /* width: 50px;
  height: 50px; */
  padding-top: 15px;
  margin-right: 810px;
  margin-left: 130px;
  
}

.navigation-bar > a{
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  height: 50px;
  line-height: 50px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.navigation-bar > a :hover {
  color: #23c587;
}
/** Nav bar end's HERE */

/**left Section start's*/
.main-area {
  color: #000000;
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 130px;
  height: 100%;
  width: 60%;
  border-radius: 0px 0px 50px;
}
 
.bold-text {
  padding-top: 70px;
  color: #5F81FA;
  font-weight: 200;
  font-size: 40px;
  padding-right: 100px;
}

.main-picture {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.bold-text {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.intro-text {
  padding-top: 30px;
  padding-right: 170px;
  font-size: 18px;
  font-weight: 300;
}

.workBtn {
  border-radius: 50px;
  border: 2px solid rgb(255, 255, 255);
  background-color: #5F81FA;
  font-size: 16px;
  font-weight: 500;
  margin-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #c5c1c1;
}

.workBtn:hover {
  background-color: #ffffff;
  color: #5F81FA;
  cursor: pointer;
  border: #5F81FA 2px solid;
}

.resumeBtn {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50px;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  margin-top: 60px;
  margin-left: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #5F81FA;
  cursor: pointer;
}

.resumeBtn:hover {
  color: #FF1BA4;
  background-color: #ffffff;
  cursor: pointer;
  border: #FF1BA4 2px solid;
}
 
/**Left section ends here*/

/** Right section start's from here*/
.main-picture {
  height: 700px;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 120px;
  margin-right: 110px;
}
/** Right section ends here*/

/** About me section starts here*/

 .sections {
  display: flex;
  width: 100%;
} 

 .sections1 {
  display: flex;
  width: 100%;
} 

 .sections2 {
  display: flex;
  width: 100%;
} 

 .sections3 {
  display: flex;
  width: 100%;
} 

.am-img {
  margin-top: 20px;
  float: right;
  display: flex;
  margin-right: 130px;
  height: 142px;
  width: 269px;
}

.am-img {
  display: flex;
  margin: 0 0.5rem;
  margin-right: 130px;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.am-txt {
  padding-left: 130px;
  font-size: 30px;
  color: #FF1BA4;
}

.line {
  padding-left: 130px;
  size: 40%;
}

.am-info-text {
  padding-top: 20px;
  padding-left: 130px;
  padding-right: 570px;
  padding-bottom: 81px;
  font-size: 17px;
  font-weight: 300;
}
/** About me ends here*/

/** Skills section starts here */
#skills {
  background-color: #FF1BA4;
  height: auto;
  width: 100%;
  
}

.skills-swiper {
  width: 800px;
  height: auto;
  display: flex;
  padding-left: 30px;
}

.card {
  height: 270px;
  width: 220px;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px #c5c1c1;
  background-blend-mode: true;
}

.card .logo {
  align-items: center;
}

.card .title{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #FF1BA4;
}

.skills-line {
  padding-left: 130px;
  size: .5%;
}

.skills-txt {
  padding-top: 61px;
  color: white;
  font-size: 30px;
  padding-left: 130px;
}
/** Skills section ends here/

/** Project section starts here */o
#projects {
  height: auto;
  width: 1080px;
}

.proj-txt {
  padding-top: 51px;
  color: #FF1BA4;
  font-size: 30px;
  padding-left: 130px;
}

.proj-tile1 {
  height: auto;
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.proj-tile2 {
  height: auto;
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.proj-tile3 {
  height: auto;
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Title1 {
  color: #5F81FA;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 30px;
}

.Title2 {
    width: 250px;
    height: auto;
    color: #5F81FA;
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Title3 {
  height: auto;
  width: 250;
  color: #5F81FA;
  font-size: 20px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Descrip1 {
  width: 500px;
  height: auto;
}

.Descrip2 {
  padding-left:2rem;
  padding-top:4px;
  padding-bottom:2rem;
  padding-right: 2rem;
  width:500px;
  height: auto;
}

.Descrip3 {
  width: 400px;
  height: auto;
}

.proj-img1 {
  margin-top: 30px;
  padding-right: 130px;
  padding-left: 40px;
  width: 400px;
  height: 200px;
}

.proj-img2 {
  margin-top: 60px;
  margin-right: 50px;
  margin-left: 130px;
  width: 400px;
  height: 200px;
}

.proj-img3 {
  margin-top: 15px;
  margin-bottom: 15px; 
  margin-right: 130px;
  margin-left: 40px;
  width: 400px;
  height: 200px;
}

/** Projectt's section ends here */

.social-icons {
  margin-top: 80px;
  padding-top: 8px;
  background-color: #ffffff;
  border-radius: 50px 50px 50px 50px;
  margin-right: 860px;
}

.social-media-list {
  list-style: none;
  display: flex;
}

li {
  display: block;
  float: left;
  padding-right: 25px;
}

li a {
  display: inline-block;
  text-align: center;
}

a {
  text-align: center;
  display: flex;
  background-color: transparent;
}

social-img {
  height: 30px;
  width: 30px;
}

ul {
  background-color: transparent;
  list-style-type: none;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media screen and (min-width: 480px) {
  
}